.video-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 43%;
	height: 590px;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px solid #c6a984;
	background-color: #000000;
	@media screen and (min-width: 2560px) {
		height: 55vh;
	}
}

.video-wrap:fullscreen {
	width: 100%;
	height: 100vh;
}

/* Video */

.video {
	position: relative;
	width: 100%;
	height: 100vh;
}

/* Controls */

.controlsContainer {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 590px;
	background-color: transparent;
	z-index: 20;
	&:hover {
		.controlsIcon--small {
			opacity: 1;
			transition: opacity 0.3s ease-in;
		}
	}
}

.controls {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.controlsIcon {
	width: 40px;
	height: 40px;
	cursor: pointer;
	margin-left: 10rem;
	margin-right: 10rem;
}

.controlsIcon--small {
	width: 118px;
	height: 118px;
	cursor: pointer;
	margin-left: 10rem;
	margin-right: 10rem;
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

/* The time controls section */

.timecontrols {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 97%;
	position: absolute;
	left: 20px;
	bottom: 4rem;
}

.time_progressbarContainer {
	background-color: gray;
	border-radius: 15px;
	width: 100%;
	height: 5px;
	z-index: 30;
	position: relative;
	margin: 0 20px;
	cursor: pointer;
}

.time_progressBar {
	position: relative;
	border-radius: 15px;
	background-color: #c6a984;
	height: 100%;
	&::after {
		content: '';
		position: absolute;
		top: -5px;
		right: -5px;
		width: 15px;
		height: 15px;
		background-color: #c6a984;
		border-radius: 50%;
	}
}

.controlsTime {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 10px;
	line-height: 10px;
	color: #d9d9d9;
}

.fullscreen-video {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 30;
	cursor: pointer;
}
